<%- include('./partials/head') %>
    <title>Crear un producto</title>
    <%- include('./partials/header') %>
    <%- include('./partials/productCart') %>
        <div class="main">
            <div class="container">
                <h1 class="main-title">Crear un producto</h1>
                <form class="registration-form" action="/product/create" method="POST" enctype="multipart/form-data">
                    <label for="name">Nombre del Producto:</label>
                    <input type="text" name="name" id="name">
                    <label for="description">Descripción:</label>
                    <input type="text" name="description" id="description">
                    <label for="price">Precio:</label>
                    <input type="number" name="price" id="price">
                    <label for="category">Categoría:</label>
                    <select class="select-style" name="category">
                        <% for(const cat in category){  %>
                        <option value="<%= category[cat].idcategory %>"> <%= category[cat].name %> </option> 
                        <%}%>
                    </select>
                    <label for="image">Imagen:</label>
                    <input type="file" name="image" accept="image/*" id="image">
                    <div class="add-button" style="width: 100%;">
                        <button class="button amarillo descripcion" type="submit">Crear Producto</button>
                    </div>
                </form>
            </div>
        </div> 
        <script src='../js/productValidate.js'></script>
        <%- include('./partials/footer') %>