<!DOCTYPE html>
<html lang="en">
    <title>Detalle de Producto</title>
    <%- include('./partials/head') %>
<body>
    <%- include('./partials/header',{user: undefined}) %>
    <div class="main">
        <div class="container">
            <main>
                <h1 class="main-title">Detalle del Producto</h1>
                <h2><%= burger.name %></h2>
                <p><%= burger.description %></p>
                <hr>
                <figure>
                    <img src="/img/products/<%= burger.image %>" alt="">
                    <figcaption>
                        <span class="hide">Burger</span>
                    </figcaption>
                </figure>
                <p><%= burger.idcategory %></p>
                <span class="producto">
                    
                    <section>
                        <p class="descripcion">Extra pasión!</p><br>
                            <label class="extras" for="checkbox1">Extra 1</label>
                            <input type="checkbox" name="extras" value="Extra 1"><br>

                            <label class="extras" for="checkbox1">Extra 2</label>
                            <input type="checkbox" name="extras" value="Extra 2"><br>

                            <label class="extras" for="checkbox1">Extra 3</label>
                            <input type="checkbox" name="extras" value="Extra 3"><br>
                            
                            <label class="extras" for="checkbox1">Extra 4</label>
                            <input type="checkbox" name="extras" value="Extra 4"><br>
                    </section>
                </span>
                <div class="agregar">
                    <a href="/detalle"><button class="button" type ="submit">  Agregar  </button> </a>
                </div>
            </main>

        </div>
    </div>
    <%- include('./partials/footer') %>
</body>
</html>