<%- include('./partials/head') %>
    <title>Editar producto</title>
    <%- include('./partials/header') %>
    <%- include('./partials/productCart') %>
        <div class="main">
            <div class="container">
                <h1 class="main-title">Editar producto</h1>
                <figure>
                    <img src="/img/products/<%= burger.image %>" alt="">
                    <figcaption>
                        <span class="hide">Burger</span>
                    </figcaption>
                </figure>
                
                <form class="registration-form" action="/product/update/<%= burger.idproducts %>?_method=PUT"
                    method="POST" enctype="multipart/form-data">
                    <label for="name">Nombre del Producto:</label>
                    <input type="text" name="name" id="name" 
                    class="form-control<%= locals.errors && errors.name ? ' errorAlert' : ''  %> name" 
                    value="<%- burger.name %>" required>
                    <% if (locals.errors && errors.name) { %>
                        <span class="text-danger">
                            <%= errors.name.msg %>
                        </span>
                        <% } %>
                    <label for="description">Descripción:</label>
                    <input type="text" name="description" 
                    class="form-control<%= locals.errors && errors.description ? ' errorAlert' : ''  %> description" 
                    value="<%- burger.description %>" id="description" required>
                    <% if (locals.errors && errors.description) { %>
                        <span class="text-danger">
                            <%= errors.description.msg %>
                        </span>
                        <% } %>
                    <label for="price">Precio:</label>
                    <input type="number" name="price" 
                    class="form-control<%= locals.errors && errors.price ? ' errorAlert' : ''  %> price" 
                    value="<%- burger.price %>" id="price" required>
                    <% if (locals.errors && errors.price) { %>
                        <span class="text-danger">
                            <%= errors.price.msg %>
                        </span>
                        <% } %>
                    <label for="category">Categoría:</label>
                    <select name="category" class="select-style">
                        <% for(const cat in categoria){  %>
                        <option value="<%= categoria[cat].idcategory %>"> <%= categoria[cat].name %> </option> 
                        <%}%>
                    </select>
                    <label for="image">Imagen:</label>
                    <input type="file" name="image" 
                    class="form-control<%= locals.errors && errors.image ? ' errorAlert' : ''  %> image"
                    value="<%- burger.image %>" accept="image/*" id="image">
                    <% if (locals.errors && errors.image) { %>
                        <span class="text-danger">
                            <%= errors.image.msg %>
                        </span>
                        <% } %>
                        <div class="errores">
                            <ul class="errorLog">                    
                            </ul>
                        </div>
                    <div class="add-button" style="width: 100%;">
                        <button id="detailBtn" class="button yellow descripcion" type="submit">Actualizar</button>
                    </div>
                </form>
                <script src='../js/productValidate.js'></script>
            </div>
        </div>
        <%- include('./partials/footer') %>