<%- include('./partials/head') %>
    <title>Products</title>
    <%- include('./partials/header') %>
    <%- include('./partials/productCart') %>
        <main>
            <div class="section-main">
                <% for(let i=0; i < allProducts.length; i++){%>
                    <div class="product">
                        <div class="product-description">
                            <figure>
                                <img src="/img/products/<%= allProducts[i].image %>" alt="img">
                            </figure>
                            <section>
                                <div class="product-name">
                                    <%= allProducts[i].name%>
                                </div>
                                <div class="price">
                                    <%= allProducts[i].price %>
                                </div>
                                <p class="description">
                                    <%= allProducts[i].description %>
                                </p>
                                <div class="add-button">
                                    <button class="button " type="submit"> Agregar </button>
                                </div>
                            </section>
                            <form action="/product/<%= allProducts[i].id %>/delete?_method=DELETE" method="POST">
                                <button class="delete-button" type="submit">Delete</button>
                            </form>
                        </div>
                    </div>
                    <%}%>
            </div>
        </main>
        <%- include('./partials/footer') %>