<%- include('./partials/head') %>
    <title>Index</title>
    <%- include('./partials/header') %>
    <%- include('./partials/productCart') %>
        <div class="main">
            <div class="container">
                <h1 class="main-title">
                    <%= message %>
                </h1>
            </div>
        </div>
        
        <%- include('./partials/footer') %>