<!DOCTYPE html>
<html lang="en">
    <title>Users</title>
    <%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>
    <main>
        <div class="section-main">
            <% for(let i=0; i < allUsers.length; i++){%>
            <div class="product">
                <div class="product-description">
                    <img src="/img/users/<%= allUsers[i].image %>" alt="img">
                    <div><%= allUsers[i].name + ' ' + allUsers[i].surname %></div>    
                    <div><%= allUsers[i].email %></div>
                    <div><%= allUsers[i].country %></div>
                    <div><%= allUsers[i].address %></div>
                    <div><%= allUsers[i].lift %></div>
                    <div><%= allUsers[i].city %></div>
                    <div><%= allUsers[i].state %></div>
                    <div><%= allUsers[i].zipcode %></div>
                    <form action="/users/<%= allUsers[i].id %>/delete?_method=DELETE" method="POST">
                        <button class="delete-button" type="submit">Delete</button>
                    </form>
                </div>
            </div>
            <%}%> 
        </div>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>