<!DOCTYPE html>
<html lang="es">
<%- include('partials/head'); %>
<body>
	<%- include('partials/header'); %>
		<div class="container" style="margin-top: 40px;">
		<div class="row">
			<h1 class="main-title">Usuario</h1>
			<div class="col-md-3">
				<% if(users != null) {%>
					<img src="/img/users/<%= users.image %>" alt="img" />
				<% } %>
				<p><%= users.name %></p>
				<p><%= users.surname %></p>
				<p><%= users.email %></p>
				<p><%= users.address %></p>
				<p><%= users.lift %></p>
				<p><%= users.city %></p>
				<p><%= users.state %></p>
				<p><%= users.zipcode %></p>
			</div>
		</div>
	</div>
	
	<%- include('partials/footer'); %>
</body>
</html>
