    <%- include('./partials/head') %>
    <title>Users List</title>
    <%- include('./partials/header') %>
    <main>
        <h1 class="main-title">Usuarios registrados</h1>
        <div class="section-main">
            <% for(let i=0; i < users.length; i++){%>
            <div class="product">
                <div class="product-description">
                    <img src="/img/users/<%= users[i].image %>" alt="img">
                    <div><span>Nombre: <%= users[i].name + ' ' + users[i].surname %></span></div>    
                    <div><span>Email: <%= users[i].email %></span></div>
                    <div><span>Telefono: <%= users[i].phone %></span></div>
                    <div><span>Dirección: <%= users[i].address %></span></div>
                    <div><span>Departamento:<%= users[i].lift %></span></div>
                    <div><span>Ciudad: <%= users[i].city %></span></div>
                    <div><span>Nacionalidad: <%= users[i].country %></span></div>
                    <div><span>Codigo Postal: <%= users[i].zipcode %></span></div>
                    <div><span>privilegio tipo: <%= users[i].idusertype %></span></div>
                    <div class="add-button">
                        <form action="/user/update/<%= users[i].idusers %>" method="get">
                            <button class="button blue descripcion" type="submit">Editar</button>
                        </form>
                    </div>
                    <div class="add-button">
                        <form action="/user/<%= users[i].idusers %>/delete?_method=DELETE" method="POST">
                            <button class="button red descripcion" type="submit">Eliminar</button>
                        </form>
                    </div>
                </div>
            </div>
            <%}%> 
        </div>
    </main>
    <%- include('./partials/footer') %>