<!DOCTYPE html>
<html lang="en">
    <title>Users</title>
    <%- include('./partials/head') %>
<body>
    <%- include('./partials/header',{user: undefined}) %>
    <main>
        <h1 class="main-title">Usuarios registrados</h1>
        <div class="section-main">
            <% for(let i=0; i < users.length; i++){%>
            <div class="product">
                <div class="product-description">
                    <img src="/img/users/<%= users[i].image %>" alt="img">
                    <div><%= users[i].name + ' ' + users[i].surname %></div>    
                    <div><%= users[i].email %></div>
                    <div><%= users[i].country %></div>
                    <div><%= users[i].address %></div>
                    <div><%= users[i].lift %></div>
                    <div><%= users[i].city %></div>
                    <div><%= users[i].state %></div>
                    <div><%= users[i].zipcode %></div>
                    <div class="add-button">
                        <form action="/user/<%= users[i].idusers %>/delete?_method=DELETE" method="POST">
                            <button class="button red descripcion" type="submit">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
            <%}%> 
        </div>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>